/*CSS style guide */
body {color: black;
      font-family: Arial, sans-serif;
      font-size: 100%;
      font-size: 18px;
}
/* Headers */
header {font-family:  Imprint MT Shadow, Georgia, sans-serif;
        background-color: #37A325;
        color:white;
        margin: 20px;
}

h1 {
  font-size: 2em;
}
.preview
{
    display: none;
    font-size: 80%;
}
.Hawaii:hover .preview
{
    display: block;
    margin-bottom: 0;
    margin-top: 30%

}
.topContent{
    margin: 20px;
}
img
{
    width: 50%;
    margin-right: 20%;
    margin-top: 50px;
    margin-bottom: 20px;
    image-orientation: from-image;
    float:left;
}
.Rotate90
{
  -webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);
}
.Hawaii
{
  background-color: #413D3E;
  color: #fff;
  padding: 20px;
  font-size: 125%;
  margin: 1em;
  text-align: center;
    position: relative;
    overflow: auto;
}
.PicText
{
    color: #F3AB29;
    font-size: 150%;
    text-align: center;
    display: flex;
    margin-top: 5%;
    margin-left: 15%;

}

/* responsive css */
.content {
  font-size: 1em;
    display: block;
}
/*Phone*/
@media screen and (min-width: 35em){
    .content {
          display:;
    }
}
/*Tablet*/
@media screen and (min-width: 600px) {
    .content {
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: 1.3em;
        line-height: 1.375em;

    }
}
/*Desktop*/
@media screen and (min-width: 60em) {
    .content {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        font-size: 1.5em;
        line-height: 1.5em;
    }
}
