/*CSS style guide */
body {color: black;
      font-family: Arial, sans-serif;
      font-size: 100%;
      font-size: 18px;
}
/* Headers */
header {font-family:  Imprint MT Shadow, Georgia, sans-serif;
        background-color: green;
}
.homeheader{background-color: green;
            font-size: 2.2em;
            margin: 0 auto;
}

h1 {
  font-size: 2em;
}

/* Body Content */

/* images */

.headerImg{
}

/* Boxes */
.Boxes{
    justify-content: space-between;
}
.box{
    margin: 0 0 1em;
    width: calc(50%-.8em);
}

.box {
    border-color: gray;
    border-style: solid;
    display: block;
    padding: 1em;
    text-decoration: none;
    color: black;
    background: white;
}



/* responsive css */
.content {
  font-size: 1em;
    display: block;
}
/*Phone*/
@media screen and (min-width: 35em){
    .Boxes {
          display: flex;
    }
}
/*Tablet*/
@media screen and (min-width: 50em) {
    .content {
        font-size: 1.3em;
        line-height: 1.375em;
    }
}
/*Desktop*/
@media screen and (min-width: 60em) {
    .content {
        font-size: 1.5em;
        line-height: 1.5em;
    }
}
